__pycache__/
*.py[cod]
.venv/
build/
dist/
payload/
V-D-Splitter-linux/
*.spec
input/
output/
work/
profiles/
models/
datasets/
vd_dataset/
settings.json
*.wav
*.mp3
*.mp4
*.mkv
*.mov
*.avi
*.webm
*.log
